body{
    background-color: #000036;
      text-align: center;
  }
  
  .title {
    display: flex;
    border: white solid 3px;
    padding: 10px;
    background: rgb(92,90,47);
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 15%;
  }
  
  .title h1 {
    display: flex;
    justify-content: start;
  }
  
  h1 {
    color: white;
  }
  
  h2 {
    color: rgb(162,150,57);
  }
   
  h3{
    color: white; 
    padding-right: 15%;
    padding-left: 15%;
  }
  
img {
  width: 50% !important;
  margin-top: 1% !important;
}

.img2 {

  margin-top: 1%;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
   
}